$orange: #f6df99;
$black: #24292e;

@font-face {
  font-family: "Alliance-b";
  src: url("../resources/fonts/Alliance-No-1-Bold.woff");
}

@font-face {
  font-family: "Alliance-r";
  src: url("../resources/fonts/Alliance-No-1-Regular.woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Alliance-r", cursive;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  position: relative;
  z-index: -1;

  @import "./navbar";

  .main-content {
    z-index: 10;
    position: relative;
    .row {
      width: 100%;
      .content {
        position: relative;
        z-index: 30;
        margin: 0;
        background: white;
        height: auto;

        .pic {
          margin: 8em auto 0 auto;
          border-radius: 999px;
          width: 75px;
          height: 75px;
          overflow: hidden;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);
          background-image: url("../resources/images/profile_edit.jpg");
        }

        h1 {
          font-family: "Alliance-b";
          text-align: center;
          margin: 0.5em auto;
          font-size: 2.75rem;
          color: $black;
          filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
        }
        .div {
          box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);
          height: 125px;
          width: 3px;
          background-color: $black;
          margin: 0 auto;
        }

        p {
          line-height: 1.5rem;
          text-align: center;
          margin: 1.5em auto;
          font-size: 1.15rem;
          max-width: 500px;
          color: $black;
        }

        .contact-icons {
          display: flex;
          a {
            width: 25px;
            margin: auto 0.4em;
            img {
              width: 25px;
              margin: auto 0.4em;
              &:first-child {
                margin-left: auto;
              }
              &:last-child {
                margin-right: auto;
              }
            }

            &:first-child {
              margin-left: auto;
            }
            &:last-child {
              margin-right: auto;
            }
          }
        }

        .intestation {
          display: flex;
          flex-direction: column;
          h2 {
            font-size: 1.6rem;
            margin: 0 auto;
            color: $black;
          }
          p {
            line-height: 1.35rem;
            text-align: center;
            margin: 1.5em auto;
            font-size: 1rem;
            max-width: 750px;
            color: $black;
          }

          .sub-intestation {
            margin: 0 auto;
            display: flex;
            img {
              margin: auto 0.5em;
              &:first-child {
                margin-left: auto;
              }
              &:last-child {
                margin-right: auto;
              }
            }
          }
        }

        @import "projects";

        .inline {
          display: flex;
          .left {
            width: 500px;
            margin-top: 4em;
            margin-left: auto;
            margin-right: 2em;
            display: flex;
            img {
              box-shadow: 0 0 24px 2px rgba(0, 0, 0, 0.4);
              width: 300px;
              margin: 0 0 auto auto;
            }
          }
          .right {
            width: 500px;
            margin-top: 4em;
            margin-right: auto;
            margin-left: 2em;
            display: flex;
            flex-direction: column;
            h4 {
              font-size: 1.35rem;
              margin: 0 auto 0 0;
              text-align: left;
            }
            p {
              font-size: 1.15rem;
              line-height: 1.5rem;
              margin: 1em auto auto 0;
              text-align: left;
            }
          }
        }
      }

      .wave {
        position: relative;
        z-index: 20;
        background-color: $orange;
        margin: 0;
        width: 100%;
        svg {
          fill: white;
          filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.15));
          width: 100%;
        }
      }

      .oppos {
        background-color: $orange;
      }

      .reverse {
        transform: rotate(180deg);
      }

      &:first-child {
        .section {
          height: 100vh;
        }
      }
    }

    #knowledges {
      .content {
        display: flex;
        flex-direction: column;
        .intestation {
          h2 {
            text-align: center;
            margin: 0 auto;
          }
          p {
            text-align: center;
            max-width: 650px;
          }
          .sub-intestation {
            margin: 0.5em auto 5em auto;
          }
        }
        @import "./knowledges";
      }
    }

    #contacts {
      .content {
        min-height: 5vh;
        .sub-content {
          .social {
            display: flex;
            flex-direction: column;
            margin: 3em 1em;
            a {
              margin: auto auto 0.5em auto;
              img {
                width: 30px;
                height: 30px;
              }
            }
            p {
              font-size: 1rem;
              margin: 0 auto auto auto;
            }

            &:first-child {
              margin-left: auto;
            }
            &:last-child {
              margin-right: auto;
            }
          }
        }
      }
    }
  }
}
/*
@media only screen and (max-width: 1200px) {

}
*/
@media only screen and (max-width: 1100px) {
  body {
    .main-content {
      .row:not(#projects):not(#contacts):not(#knowledges) {
        .content {
          .inline {
            flex-direction: column;
            .left {
              width: 100%;
              margin: 3em auto;
              img {
                border-radius: 99999px;
                height: 200px;
                width: 200px;
                margin: auto;
              }
            }
            .right {
              width: 75%;
              margin: 0.5em auto 1em auto;
              h4 {
                margin: 0em auto 1em auto;
                text-align: center;
              }
              p {
                font-weight: 300;
                max-width: 80%;
                line-height: 24px;
                font-size: 1.15rem;
                text-align: center;
                margin: 1em auto;
              }
            }
          }
          p {
            max-width: 80%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  body .main-content #projects .content #projects-panel {
    margin-top: 1em;
    .project {
      margin-top: 2em;
      margin-bottom: 2em;
      flex-direction: column;
      width: 80%;
      .left {
        width: 100%;
        margin: 1em auto;
        .desc {
          display: flex;
          flex-direction: column;
          h3 {
            text-align: center;
          }
          p {
            max-width: 100%;
            text-align: center;
          }
          a {
            text-align: center;
            margin: 0.5em auto;
          }
        }
        .tags {
          display: flex;
          flex-wrap: wrap;
          p {
            &:first-child {
              margin-left: auto;
            }
            &:last-child {
              margin-right: auto;
            }
          }
        }
      }

      .right {
        width: 75%;
        margin: 1.5em auto;
        img {
          width: 100%;
          margin: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  body .main-content #contacts .content .sub-content .social {
    margin: 3em 1.5em;
    a img {
      width: 26px;
      height: 26px;
    }
  }

  body .main-content #knowledges .content .intestation p {
    max-width: 80%;
    font-size: 1rem;
  }
  body .main-content .row .content .intestation .sub-intestation img {
    width: 34px;
    height: 34px;
  }

  body .main-content #knowledges .content #knowledges-panel {
    overflow: hidden;
    .bar-cnt,
    .left {
      width: 60%;
    }
  }

  body
    .main-content
    .row:not(#projects):not(#contacts):not(#knowledges)
    .content
    .inline
    .left
    img {
    width: 125px;
    height: 125px;
  }

  body .main-content .row .content .inline {
    .left {
      img {
        width: 125px;
        height: 125px;
      }
    }
    .right {
      width: 85%;
      h4 {
        font-size: 1.25rem;
      }
      p {
        line-height: 20px;
        font-size: 0.95rem;
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  body .main-content #contacts .content .sub-content .social {
    margin: 3em 0.65em;
    p {
      font-size: 0.75rem;
    }
    a img {
      width: 24px;
      height: 24px;
    }
  }

  body .main-content #projects .content #projects-panel .project .left .tags {
    display: none;
  }

  body {
    .navbar {
      display: flex;
      .name {
        z-index: 200;
        margin: 0.5em auto 0.5em 0.65em;
      }
      img {
        cursor: pointer;
        z-index: 200;
        width: 24px;
        margin: 0.5em 1.5em 0.5em auto;
        transition: 0.2s;
        display: inline-block;
        &:hover {
          transition: 0.2s;
          opacity: 0.6;
        }
      }
      .links {
        z-index: 100;
        margin: 0;
        padding: 0;
        background-color: rgba(255, 166, 0, 1);
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        display: none;
        ul {
          margin: auto;
          text-align: center;
          li {
            margin: 1em 0;
            font-size: 2rem;
            font-weight: bold;
            display: block;
            transition: 0.3s;
            &:hover {
              transition: 0.3s;
              opacity: 0.6;
            }
          }
        }
      }
      .visible {
        background-color: rgba(255, 166, 0, 1);
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      #underlineature {
        display: none;
      }
    }
  }
}
